@font-face {
font-family: 'Wellfleet Regular';
font-style: normal;
font-weight: normal;
src: local('fonts/Wellfleet Regular'), url('fonts/Wellfleet-Regular.woff') format('woff');
}

body {
    background: url(img/background.png) bottom no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Wellfleet Regular';
    text-align: center;
    font-size: 18px;
}

/* top timebar */

#timebar {
    width: 100%;
    background: #95d8e8;
    margin-bottom: 20px;
}

progress::-webkit-progress-bar {
    background: #95d8e8;
}

progress::-webkit-progress-value {
    background: #efb7c0;
}

progress[value] {
}


/* ++ PRETTIFYING my header ++ */

header {
    animation: animated-text 4s steps(29,end) 1s 1 normal both,
    animated-cursor 600ms steps(29,end) infinite;
    border-right: solid 3px rgba(239,23,94,0.5);
    white-space: nowrap;
    overflow: hidden;
    font-size: 35px;
    font-weight: bold;
    line-height: 50px;
    /* or 104% */
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    text-align: center;
}

@keyframes animated-text {
    from {
        width: 0;
    }
    to {
        width: 380px;
    }
}

@keyframes animated-cursor {
  from {
    border-right-color: rgba(239,23,94,0.5);
}
  to {
    border-right-color: transparent;
}
}

/* input elements */

input {
    background: rgb(255,255,255,0.5);
    border: none;
    max-width: 414px;
    text-align: center;
    border-bottom: 5px solid #efb7c0;
    outline: none;
    font-size: 35px;
}

/*input,
input:focus {
    -webkit-box-shadow: 2px 10px 11px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 2px 10px 11px 0px rgba(0,0,0,0.12);
    box-shadow: 2px 10px 11px 0px rgba(0,0,0,0.12);
    outline: none;
}*/

input[disabled] {
    background: #eeeeee;
    outline: none;
}

.shake {
    animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-5px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(5px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-5px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(5px, 0, 0);
  }
}

/* regular elements */

/* dashboard */
.user-dashboard {
    margin: 20px 0;
}

.icon-score {
    background: url(img/trophy.svg) no-repeat top left;
    width: 25px;
    height: 25px;
    background-size: contain;
    display: inline-block;
}

.icon-time {
    background: url(img/time.svg) no-repeat top left;
    width: 25px;
    height: 25px;
    background-size: contain;
    display: inline-block;
}

#seconds {
    font-weight: bold;
}


/* big word  */
#current-word {
    font-size: 35px;
    font-weight: bold;
    background: #FFFFFF;
    max-width: 414px;
    margin: 0 auto 20px;
    -webkit-box-shadow: 2px 10px 11px 0px rgba(0,0,0,0.12);
    -moz-box-shadow: 2px 10px 11px 0px rgba(0,0,0,0.12);
    box-shadow: 2px 10px 11px 0px rgba(0,0,0,0.12);
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}


/* output message */
#message {
    margin: 0 auto 20px;
}


/* button */
#start-button {
    background: #FFFFFF;
    border: 0;
    padding: 10px 15px;
    box-shadow: 0px 5px #f59cb0;
}

#start-button:hover {
    transform: translateY(5px);
    box-shadow: 0px 3px #f59cb0;
}