body {
    /*background: url(img/background.png) bottom no-repeat;
    background-size: cover;*/
    height: 100vh;
}

#timebar {
    width: 100%;
    background: red;
    margin-bottom: 20px;
}

progress::-webkit-progress-bar {
    background: #fff;
}

progress::-webkit-progress-value {
    background: #0063a6;
}

progress[value] {
}

input {
    border: 1px solid yellow;
}

#current-word {
    font-size: 40px;
    font-weight: bold;
}